<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7194ba">  <td>23/01/25 00:18:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestng.logout()[pri:0, instance:com.testng.SeleniumTestng@35aea049]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@780934299</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>23/01/25 00:18:01</td>   <td>-2352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTestng.Addcar_prouduct()[pri:0, instance:com.testng.SeleniumTestng@35aea049]">Addcar_prouduct</td> 
  <td>main@780934299</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>23/01/25 00:17:54</td>   <td>-9194</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestng.openbrower()[pri:0, instance:com.testng.SeleniumTestng@35aea049]">&gt;&gt;openbrower</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@780934299</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>23/01/25 00:17:58</td>   <td>-4712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTestng.login()[pri:1, instance:com.testng.SeleniumTestng@35aea049]">login</td> 
  <td>main@780934299</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>23/01/25 00:18:00</td>   <td>-3257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTestng.ShortbyProduct()[pri:2, instance:com.testng.SeleniumTestng@35aea049]">ShortbyProduct</td> 
  <td>main@780934299</td>   <td></td> </tr>
</table>
